In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

from utils.preprocessing import import_data, preprocess

## Data Import and Preprocessing

In [2]:
df = import_data()

Data imported successfully.
Import time: 0:10:58.374566
Total elapsed time: 0:10:58.374566

In [3]:
df = preprocess(df)

Columns dropped successfully.
Drop time: 0:00:00.396042
Total elapsed time: 0:00:00.396042



Event numbers cleaned successfully.
Event cleaning time: 0:00:03.886068
Total elapsed time: 0:00:04.282110



Incident flag created successfully.
Flagging time: 0:00:09.053370
Total elapsed time: 0:00:13.335480



Disposition codes cleaned successfully.
Disposition cleaning time: 0:06:52.659412
Total elapsed time: 0:07:05.994892



Shift categories created successfully.
Shift categories time: 0:00:00.287004
Total elapsed time: 0:07:06.281896



Sectors and zones cleaned successfully.
Sector and zone cleaning time: 0:10:41.955118
Total elapsed time: 0:17:48.237014

In [4]:
# save the cleaned dataframe as a feather for easier import later
df.to_feather('data/cleaned_data.feather')

In [8]:
df = df.sort_values(by=['Call Received', 'Event Number'])

In [9]:
df.head(20)

,index,Event Number,Call Received,Complaint Number,Tencode,Tencode Suffix,Disposition Code,Block,Street Name,Shift,Sector,Zone,Latitude,Longitude,generated_incident_yn
2897421,2897421,201500000002,2015-01-01 00:00:02,NaN,96,NaN,12,NaN,NaN,C,E,227,NaN,NaN,0
2161604,2161604,201500000003,2015-01-01 00:00:04,NaN,96,NaN,12,700.0,MAIN ST,C,NaN,NaN,NaN,NaN,0
3251782,3251782,201500000005,2015-01-01 00:00:11,NaN,96,NaN,12,NaN,NaN,C,W,111,NaN,NaN,0
1792938,1792938,201500000006,2015-01-01 00:00:12,NaN,94,NaN,4,1100.0,CRYSTAL SPRING LN,C,H,521,36.174,-86.611,0
1942227,1942227,201500000007,2015-01-01 00:00:16,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1947753,1947753,201500000008,2015-01-01 00:00:19,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1944371,1944371,201500000009,2015-01-01 00:00:20,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1951424,1951424,201500000010,2015-01-01 00:00:20,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1934940,1934940,201500000011,2015-01-01 00:00:20,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1940368,1940368,201500000012,2015-01-01 00:00:20,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
2207169,2207169,201500000032,2015-01-01 00:00:20,NaN,93,T,9T,NaN,INTERSTATE DR,C,C,413,NaN,NaN,0
1945900,1945900,201500000013,2015-01-01 00:00:22,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1952744,1952744,201500000014,2015-01-01 00:00:22,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1941268,1941268,201500000015,2015-01-01 00:00:22,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1936426,1936426,201500000016,2015-01-01 00:00:22,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1952243,1952243,201500000017,2015-01-01 00:00:24,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1946018,1946018,201500000018,2015-01-01 00:00:24,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1939742,1939742,201500000019,2015-01-01 00:00:24,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1940869,1940869,201500000020,2015-01-01 00:00:25,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0
1935995,1935995,201500000021,2015-01-01 00:00:27,NaN,43,P,4,500.0,BROADWAY,C,NaN,NaN,NaN,NaN,0